@keyframes :global(approvedAnimate) {
  0% {
    opacity: 0;
    stroke-dashoffset: 30;
  }

  25% {
    opacity: .5;
    stroke-dashoffset: 24;
  }

  50% {
    opacity: 1;
    stroke-dashoffset: 21;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes :global(approvedTextAnimate) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
